<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log Aplikasi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Log User</h2>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID Log</th>
        <th scope="col">ID User</th>
        <th scope="col">Activity</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>

        {% for item in navigation %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ item['_id'] }}</td>
            <td>{{ item['id_perawat'] }}</td>
            <td>{{ item['activity'] }}</td>
            <td>{{ item['created_at'] }}</td>
          </tr>
        {% endfor %}        
      
    </tbody>
  </table>
</div>

</body>
</html>